<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{{ site_name }}</title>
  {{ head_tags }}
  {{ stylesheet_tags }}
  {{ javascript_tags }}
  {{ content_for_head }}
</head>
<body>
  
  <a name="anchor_top" id="anchor_top"></a>
  <div id="nav">
    <div class="inner">
      <ul id="common-nav">
        {{ common_nav_links }}
      </ul>
      <ul class="buttons">
        {{ nav_links }}
      </ul>
      <div class="heading">
        <h1>{{ heading }}</h1>
        <div class="tagline">{{ subheading }}</div>
      </div>
      
    </div>
  </div>
  {{ notice }}
  <div id="main">
{% if content_for_top %}
    <div class="inner_top">
         {{ content_for_top }}
    </div>
{% endif %}
    <div class="inner">
      {% if content_for_sidebar %}
        <div class="left-sidebar">
          {{ content_for_sidebar }}
        </div>
        <a name="anchor_content" id="anchor_content"></a>
        <div class="accommodate-left-sidebar">
          {{ content_for_layout }}
        </div>
        <div class="clear"></div>
      {% else %}
        {{ content_for_layout }}
      {% endif %}
    </div>
  </div>
  <div class="inner">
    <div id="footer">
      {{ footer_content }}
    </div>
  </div>
  {{ news_js }}
  {{ analytics_js }}
</body>
</html>
