<%= form_for(@impression) do |f| %>
  <% if @impression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impression.errors.count, "error") %> prohibited this impression from being saved:</h2>

      <ul>
      <% @impression.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :i_type %><br />
    <%= f.text_field :i_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
