<%if @marker_at %>
  <%if @marker_last and @marker_last.length>0%>

  <%end%>
  <%if !is_blank(@marker_at.marker_latitude) and !is_blank(@marker_at.marker_longitude) %>

    point = new BMap.Point('<%= @marker_at.marker_longitude %>', '<%=@marker_at.marker_latitude%>')
    html = '<%= raw mark_html(@marker_at) %>'+ '<div id="location_now">'+'<span color: #5F9128>当前位置：</span>'+'<%=@marker_at.geocode_position%>' +'</div>'
    marker = MapObject.add_marker_to_map(point,"/images/map/default.png",34,30,html,true)
  <%else%> 
    MapObject.getPoint('<%=@marker_at.geocode_position%>', MapObject.add_marker_to_map_function("/images/map/default.png",34,30,"home",MapObject.map,true,'<%=@marker_at.geocode_position%>'),MapObject.map);
  <%end%>



<%end%>


$(".stream-items").prepend("<%= escape_javascript(render :partial => 'streams/stream_item', :object => @note.stream_item ) %>");
$(".stream-item").first().hide();
$(".stream-items :first-child").slideDown("slow");

<%if flash[:notice]%>
  $("#notice").html("<%=flash[:notice]%>")
  $("#notice").show()
  $('#notice').fadeOut(15000);
<%end%>
$("#share-note").resetForm();
$("#marker_geocode_position").attr("value", '');
$("#marker_destin_position").attr("value", '');

