<div id="about"  class ="object" style="display: none; ">
   
    <div>
      <label for="person_about"><%= t('people.about_me') %>:</label>
      <div class="form-field-hint"><%= t('people.tell_us_about_yourself') %></div>
      <%= form.text_area :about, :rows => 10, :style => 'width:95%;' %><br/>
      <label for="person_website"><%= t('people.website') %>:</label>
      <%= form.text_field :website %>
    </div>

    <%= hidden_field_tag :anchor, 'favorites' %>
    <label for="person_activities"><%= t('people.activities') %>:</label>
    <%= form.text_area :love_activities, :rows => 4, :cols => 80 %>
    <label for="person_interests"><%= t('people.interests') %>:</label>
    <%= form.text_area :interests, :rows => 4, :cols => 80 %>
    <label for="person_music"><%= t('people.music') %>:</label>
    <%= form.text_area :music, :rows => 4, :cols => 80 %>
    <label for="person_tv_shows"><%= t('people.tv_shows') %>:</label>
    <%= form.text_area :tv_shows, :rows => 4, :cols => 80 %>
    <label for="person_movies"><%= t('people.movies') %>:</label>
    <%= form.text_area :movies, :rows => 4, :cols => 80 %>
    <label for="person_books"><%= t('people.books') %>:</label>
    <%= form.text_area :books, :rows => 4, :cols => 80 %>
    <label for="person_quotes"><%= t('people.quotes') %>:</label>
    <%= form.text_area :quotes, :rows => 4, :cols => 80 %>
</div>
