
<div  class="object" >
  <div class="profile-pic">
    <% if @person.photo.exists? %>
      <%= image_tag(@person.photo.url(:profile), :alt => @person.name) %>
    <% else %>
      <div class="silhouette-<%= @person.gender.to_s == 'Female' ? 'woman' : 'man' %>"></div>
    <% end %>
  </div>
  <div class="form-field-hint"><%= t('people.upload_a_picture_of_html', :name => me? ? 'yourself' : @person.name) %></div>
  <p><%= t('people.select_file_to_upload') %><br/>
    <input type="file"  id ="fileToUpload" name ="picture"/><br/></p>

  <span class="button" id="upload_pic" onclick="profile_ajaxFileUpload()">上传Person Photo</span>
  <%=image_tag("loading.gif",:id=>"loading",:style=>"display:none",:height => '30')%>
</div>

<script>

  function profile_ajaxFileUpload(){
    loading();//动态加载小图标
    $.ajaxFileUpload({
      url:'/people/change_pic',
      secureuri:false,
      dataType: 'json',
      fileElementId:'fileToUpload',
      success: function (data,status){
        if(data.success=="true"){
          $(".temp_pic").remove();
          $('.profile-pic').html("");
          $(".profile-pic").append("<img alt=<%=@person.name%> src=" +data.pic_url +" title=<%=@person.name%> >")
        }else{
          alert("文件保存失败")
        }
      },
      error: function (data, status, e){
        alert(1)
      }
    })
    return false;
  }
  function loading(){
    $("#loading").ajaxStart(function(){
      $(this).show();

    }).ajaxComplete(function(){
      $(this).hide();
    });
  }

</script>


