<div id="business"  class ="object" style="display: none; ">
    
  <h3><%= t('people.business') %></h3>
  <div class="form-field-hint"><%= t('people.if_you_wish_to_be_listed_business_dir_html', :url => search_path(:business => true)) %></div>
  <label for="person_business_category"><%= t('search.business_category') %></label>
  <select name="person[business_category]" id="person_business_category" onchange="if(this.value=='!') custom_select_val(this, '<%= t('people.enter_new_category') %>')">
    <option value=""></option>
    <%= options_for_select @business_categories, @person.business_category %>
    <option value="!">[<%= t('new_category') %>]</option>
  </select><br/>
  <label for="person_business_name"><%= t('people.business_name') %>:</label>
  <%= form.text_field :business_name %><br/>
  <label for="person_business_description"><%= t('people.description_of_business') %>:</label>
  <%= form.text_area :business_description, :rows => 3 %><br/>
  <label for="person_business_phone"><%= t('people.business_phone') %>:</label>
  <%= form.text_field :business_phone %><br/>
  <label for="person_business_email"><%= t('people.business_email') %>:</label>
  <%= form.text_field :business_email %><br/>
  <label for="person_business_website"><%= t('people.business_website') %>:</label>
  <%= form.text_field :business_website %><br/>
  <label for="person_business_address"><%= t('people.business_address') %>:</label>
  <%= form.text_area :business_address, :rows => 2 %>
</div>
