<div id="address"  class ="object" style="display: none; ">

<%= form.label :hometown_address,       t('people.hometown_province_city_address') %>   
<%= form.text_field :hometown_province,:size => 4 %> 
<%= form.text_field :hometown_city,:size => 4  %> 
<%= form.text_field :hometown_address %>
<br/>
<%= form.label :liveing_address,       t('people.liveing_province_city_address') %>   
<%= form.text_field :liveing_province,:size => 4  %>
<%= form.text_field :liveing_city,:size => 4  %>
<%= form.text_field :liveing_address%>
<br/>
<%= form.label :current_address,       t('people.current_province_city_address') %>  
<%= form.text_field :current_province,:size => 4  %>
<%= form.text_field :current_city,:size => 4  %>
<%= form.text_field :current_address %>

</div>
