<div class="boxBody">

  <%= render :partial => 'edit_photo' %>
  <%= form_for @person do |form| %>
    <%= render :partial => 'edit_basic' ,:locals => { :form => form}%>

    <%= render :partial => 'edit_about' ,:locals => { :form => form}%>

    <%= fields_for @postition do |postition| %>
      <%= render :partial => 'edit_address', :locals => {:form => postition} %>
    <% end %>

    <%= render :partial => 'edit_business' ,:locals => { :form => form}%>


    <p class="double-margin-top"><%= form.submit t('save_changes') %></p>

  <% end %>

</div>

<script type="text/javascript">
 

  $('#person_birthday, #person_anniversary').datepicker({changeYear:true, yearRange:'1900:2025', dateFormat:'<%= datepicker_format %>'});

  $('#person_birthday').bind('keyup', function(){
    var val = $(this).val();
    if(val == '' || val.match(/1900/)) {
      $('#child-selection').show();
    } else {
      $('#child-selection select').val('');
      $('#child-selection').hide();
    }
  }).trigger('keyup');

  changes_made = false;
  $(':input').bind('change', function(){
    changes_made = true;
  });

  $('form').submit(function(){ changes_made = false });

  window.onbeforeunload = function() {
    if(changes_made) return '<%= escape_javascript t('you_made_a_change_page') %>';
  }


 
  

</script>
