<div class="object">
  
  <% if private("about") %>
    <div class="about">
      <% unless( @person.about.to_s.any? or
            @person.love_activities.to_s.any? or
            @person.interests.to_s.any? or
            @person.books.to_s.any? or
            @person.music.to_s.any? or
            @person.movies.to_s.any? or
            @person.tv_shows.to_s.any? or
            @person.quotes.to_s.any?)%>
        <em><%= t('people.nothing_here_yet') %></em>
      <% end %>
        <h3><%= t('About') %></h3>
      <% if @person.about.to_s.any? %>
        <div class="favorites-group">
          <%= preserve_breaks @person.about %>
        </div>
      <% end %>
        <h3>喜欢的活动</h3>
           <% if @person.love_activities.to_s.any? %>
        <div class="favorites-group">
         
          <%= preserve_breaks @person.love_activities %>
        </div>
      <% end %>
        <h3>个人爱好</h3>
      <% if @person.interests.to_s.any? %>
        <div class="favorites-group">
         
          <%= preserve_breaks @person.interests %>
        </div>
      <% end %>
        <h3>爱看的书</h3>
      <% if @person.books.to_s.any? %>
        <div class="favorites-group">
          
          <%= preserve_breaks @person.books %>
        </div>
      <% end %>
      <% if @person.music.to_s.any? %>
        <div class="favorites-group">
         
          <%= preserve_breaks @person.music %>
        </div>
      <% end %>
        <h3>爱看的电影</h3>
      <% if @person.movies.to_s.any? %>
        <div class="favorites-group">
          
          <%= preserve_breaks @person.movies %>
        </div>
      <% end %>
        <h3>爱看的电视节目</h3>
      <% if @person.tv_shows.to_s.any? %>
        <div class="favorites-group">
         
          <%= preserve_breaks @person.tv_shows %>
        </div>
      <% end %>
        <h3>个人信仰</h3>
      <% if @person.quotes.to_s.any? %>
        <div class="favorites-group">
         
          <%= preserve_breaks @person.quotes %>
        </div>
      <% end %>
    <%else%>
      <br>
      <p><%= t("people.something_hide") %></p>
    <%end%>

   


      
    </div>
  </div>
</div>
</div>