<% if @pending.any? %>
  <div>

    <p><%= t('friends.people_requested') %></p>
    <table class="spaced">
      <% @pending.each do |friendship_request| %>
        <tr>
        <td>
          <a href="<%= url_for person_url(:id => friendship_request.from) %>">
            <%=  thubnail_href_html friendship_request.from%>
          </a>
        </td>
        <td>
          <%= link_to friendship_request.from.name, friendship_request.from %>
        </td>
        <td>
          <%= link_to t('friends.accept'), person_friend_path(@logged_in, friendship_request, :accept => true), :method => 'put',:remote=>true, :class => 'add-icon' %><br/>
        </td>
        <td>
          <%= link_to t('friends.decline'), person_friend_path(@logged_in, friendship_request, :reject => true), :method => 'put',:remote=>true, :confirm => t('are_you_sure'), :class => 'delete-icon' %>
        </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if @friends.any? %>
  <ul id="friends" style="list-style-type:none;">
    <% if @friends.any? %>
      <% @friends.each do |person| %>
       
       <%=  thubnail_href_html person,"medium","picture"%>
       
       
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p><%= t('groups.nobody_yet') %></p>
<% end %>



