<% content_for :head do %>
  <%= stylesheet_link_tag  "osx" %>
  <%= javascript_include_tag "http://api.map.baidu.com/api?v=1.2" %>
  <%= javascript_include_tag "http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js" %>
  <%= stylesheet_link_tag  "ueditor/themes/default/ueditor" %>
  <%= javascript_include_tag "extend/ui" %>
  <%= javascript_include_tag "ueditor/editor_config" %>
  <%= javascript_include_tag "ueditor/editor_all" %>
<%end%>
<% if @has_friendship_requests %>
  <div class="highlight">
    <%= t('friends.you_have_pending_requests_html', :url => person_friends_path(@person)) %>
  </div>
<% end %>
<% if @has_activity_invite %>
  <div class="highlight">
    <%= t('friends.you_have_activity_invite_html', :url => person_activities_path(@person)) %>
  </div>
<% end %> 


<%#*地图%>
<% content_for :top do %>

  <%#= render :partial => 'maps/map',
  :locals =>{:map => @person.map,:person=>@person,:logged_in=>@logged_in} %>
  <div class="profile-left">
    <%= render :partial => 'people/person_photo' %>
  </div>
  <div class="profile-right">

  <%#*分享栏%>
    <%=render_cell :common,:tool_bar,:logged_in=>@logged_in,:person=>@person%>

  </div>
<%end%>

<% content_for :sidebar do %>

  <%#*头像墙%>
  <%@peoples = Person.find(:all,:limit=>35)%>
  <h3 class="double-margin-top">推荐好友</h3>
  <div id ="people_pic_wall">
    <%@peoples.each do |people|%>
      <%=link_to   get_thunbnail_html(people),people,:target=>"_blank"%>
    <%end%>
  </div>
  <%#*地点墙%>
  <%    @places = Place.find(:all,:limit=>35)%>
  <h3 class="double-margin-top">地点墙</h3>
  <div id ="place_pic_wall" >
    <%@places.each do |place|%>
      <% if  place and  place.picture %>
        <%=link_to image_tag(place.picture.photo.url(:tn), :alt =>  place.place_name, :class => 'icon thumbnail'),[:location,place],:target=>"_blank" %>
      <% else %>
        <%=link_to image_tag('missing_tn.png', :alt => t('none')),[:location,place],:target=>"_blank" %>
      <% end %>
    <%end%>
  </div>


  <%#*事件通知%>
  <% if Setting.get(:features, :prayer_event) %>
    <h3><%= t('prayer_signups.home_page_heading') %></h3>
    <div id="taken_slots"></div>
    <p><%= link_to t('prayer_signups.home_page_heading'), prayer_signups_path, :class => 'right-icon' %></p>
    <script type="text/javascript">
      $.get('<%= prayer_signups_path(:format => 'js') %>');
    </script>
  <% end %>

<% end %>
<a name="anchor_content" id="anchor_content"></a>
<div class="content" type="stream">    
<%#*内容墙%>
  <h3 class="double-margin-top"><a href="##">路“况”</a>/<a href ="##">地图</a></h3>
  <div class="stream-items" id="stream_item_wall">
    <%= render :partial => 'streams/stream_item', :as => :stream_item,
      :collection => @stream_items,
      :locals =>{:show_on=>"wall",:logged_in=>@logged_in,:person=>@person} %>


    <% if @stream_items.empty? %>
      <p><%= t('stream.where_activity_appear') %></p>
      <p><em><%= t('stream.nothing_to_show') %></em></p>
    <% end %>

  </div>
  <%=link_to "继续查看",stream_path(:page=>2),:remote=>true,:id=>"show_next"%> 
  <div id="show_no_stream_msg"></div>
</div>
