<%= content_for  :head do %>
  <%= javascript_include_tag "extend/jquery.form" %>
  <%= stylesheet_link_tag 'global-0.52' %>
<%= stylesheet_link_tag  "ueditor/themes/default/ueditor" %>
  <%= stylesheet_link_tag  "osx" %>
  <%= javascript_include_tag "extend/jquery.tools.min" %>
  <%= javascript_include_tag "extend/pic_effects" %>
  <%= javascript_include_tag "extend/ui" %>
  <%= javascript_include_tag "ueditor/editor_config" %>
  <%= javascript_include_tag "ueditor/editor_all_min" %>
<% end %>


<% content_for :top do %>
  <%= render :partial => 'maps/map',
    :locals =>{:map => @person.map,:person=>@person,:logged_in=>@logged_in} %>
<%end%>
<div class="clear"></div>


<div class="profile" >

  <div class ='profile-left'>

    <%= render :partial => 'person_photo' %>
    <%= render :partial => 'my_friends' %>
    <%= render :partial => 'albums_manager' %>




    <h3><%= link_to '我的活动',person_activities_path(@person)%>
      <p style="float: right"><%= link_to '发起活动', "#", :class => 'add-icon',:id=>"activity" %></p>
    </h3>

    <h3>梦想单
      <p style="float: right"><%= link_to '梦想单', "#", :class => 'add-icon',:id=>"dream" %></p>
    </h3>

    <h3>想去那里
      <p style="float: right"><%= link_to '我想去', "#", :class => 'add-icon',:id=>"i_want_to_go" %></p>
    </h3>
    <table>
      <tr>
        <th>day</th>
        <th>address</th>
      </tr>

      <% @plans.each do |plan| %>
        <tr>
          <th><%= plan.day.strftime("%y-%M-%d")%></th>
          <th><%= link_to plan.address,"#" %></th>
          <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
          <td><%= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>


  </div>

  <div class= 'profile-right'>
    <div class='tab_profile'>
      <ul class="tabs">
        <li class = "li_php"><a href="#"><%= t('people.php') %></a></li>
        <li class = "li_profile"><a href="#"><%= t('people.profile') %></a></li>
        <li class = "li_group"><a href="#">我的小组</a></li>
        <li class = "li_profile"><a href="#">我的地点</a></li>
        <li class = "li_profile"><a href="#">我的轨迹</a></li>
      </ul>
    </div>
    <br/>
    <div class="panes">
      <%= render_cell :people,:show_php,:person=>@person,:logged_in =>@logged_in,:stream_items=>@stream_items%>
      <%= render_cell :people,:profile,:person=>@person,:logged_in =>@logged_in,:verses=>@verses%>
      <%= render_cell :people,:group,:person=>@person,:logged_in =>@logged_in%>
      <%= render_cell :people,:place,:person=>@person,:logged_in =>@logged_in%>
      <%= render_cell :people,:locus,:person=>@person,:logged_in =>@logged_in,:day=>Time.new.strftime("%Y/%m/%d")%>
    </div>
  </div>
</div>


<!--我想去窗口 -->
<%= render_cell :common, :i_want_go%>
<!--我要活动窗口 -->
<%= render_cell :common,:activity,:logged_in=>@logged_in   %>
<!--我要活动窗口 -->
<%= render_cell :common,:dream   %>

<script type="text/javascript">
  $(document).ready(function() {
    $("ul.tabs").tabs("div.panes > div.object"); 
  });

</script>
