<% content_for  :head do %>
  <%= javascript_include_tag "extend/map" %>
  <%= javascript_include_tag "extend/jquery.simplemodal" %>
  <%= javascript_include_tag "extend/jquery.tools.min" %>
  <%= javascript_include_tag "extend/some_function" %>
  <%= javascript_include_tag "extend/ajaxfileupload" %>
  <%= javascript_include_tag "map/markercluster" %>
  <%= javascript_include_tag "extend/jquery.form" %>
<<<<<<< HEAD
  <%= javascript_include_tag  'http://ditu.google.com/maps/api/js?sensor=true' %> 
=======
  <%= javascript_include_tag  'http://ditu.google.com/maps/api/js?sensor=true' %>
>>>>>>> 88305ba99b78b4dd9e724d5b2be82613961ca562
  <%= javascript_include_tag  'map/map_controll' %> 
  <%= stylesheet_link_tag  "osx" %>



  <script type="text/javascript">
    $(document).ready(function() {
     
      $(".li_php").click(function(){
        $('.profile-right .show').slideUp('1500');
        $('.profile-right .show_php').slideDown('1500');
      })
	
      $(".li_profile").click(function(){
        $('.profile-right .show').slideUp('1500');
        $('.profile-right .show_profile').slideDown('1500');
      })
      MapObject.map_share_html = document.getElementById("map_infowindow").innerHTML
      $('#map_infowindow').remove()
  <% if @map.center_latitude %> MapObject.map_options.center_latitude = <%= @map.center_latitude%>;<%end%> 
  <% if  @map.center_longitude %> MapObject.map_options.center_longitude = <%= @map.center_longitude%>;<%end%>
  <% if @map.zoom %>MapObject.map_options.zoom = <%= @map.zoom%>;<%end%>


    MapObject.initialize() ;
    
    
    

	
  });

  </script>
<% end %>



<div id ="map_infowindow" style="display: none" >
  <%= render :partial=>"common/new_place" %>
</div>

<div id="map_controll">
  <ul class="buttons">
    <li><span class="button" id="new-marker-tab" onclick="MapObject.add_marker_listen();">发布地点</span></li>
    <li><span class="button" onclick="MapObject.init_marker_from_data('firend_postition');">查看好友位置</span></li>
    <li><span class="button" id="posittion-tab">我要旅游</span></li>
    <li><span class="button" id="activities-tab">我要活动</span></li>
  </ul>
</div>

<div id="mapCanvas" style="width: 100%; height: 385px;">map div</div> 

<br><br>

<div class='tab_profile'>
  <ul id="tab_profile_ul">
    <li class = "li_php"><a href="#"><%= t('people.php') %></a></li>
    <li class = "li_profile"><a href="#"><%= t('people.profile') %></a></li>
  </ul>
</div>





<div class="profile" >

  <div class ='profile-left'>

    <%= render :partial => 'person_photo' %>

    <%= render :partial => 'albums_manager' %>



    <% cache(:fragment => 'friends') do %>
      <h3><%= t('friends.friends') %>
        <%if @person==@logged_in%>  <p style="float: right"><%= link_to t('friends.manager'), person_friends_path(@person), :class => 'add-icon' %></p><%end%>
      </h3>
      <% if @friends.any? %>
        <% @friends.each do |person| %>
          <% content_tag :a, :href => person_path(person) do %>
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <h3>活动
      <p style="float: right"><%= link_to '活动管理', "#", :class => 'add-icon' %></p>
    </h3>

    <h3>想去那里
      <p style="float: right"><%= link_to '行程管理', "#", :class => 'add-icon' %></p>
    </h3>
    <table>
      <tr>
        <th>day</th>
        <th>address</th>
      </tr>

      <% @plans.each do |plan| %>
        <tr>
          <th><%= plan.day.strftime("%y-%M-%d")%></th>
          <th><%= link_to plan.address,"#" %></th>
          <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
          <td><%= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>


  </div>

  <div class= 'profile-right'>
    <%= render :partial => 'show_php'%>
    <%= render :partial => 'show_profile'%>
  </div>
</div>


<!--我想去窗口 -->
<%= render :partial=>"i_want_go" %>