<div class="profile">

  <div class="profile-sidebar">
    <div class="profile-pic">
      <%= render :partial => 'photo' %>
    </div>
  </div>

  <div class="profile-body">
    <% if flash[:show_verification_link] %>
      <div class="highlight">
        <%= link_to t('people.click_to_send_verification_email'), account_path(:email => @person.email), :method => 'post', :confirm => t('are_you_sure'), :class => 'email-icon' %>
      </div>
    <% end %>
    <% unless @person.visible? %>
      <div class="highlight"><span class="lock-icon"></span> <%= t('people.this_profile_is_hidden') %></div>
    <% end %>
    <%= render :partial => 'pending_updates' %>
    <h2>
      <strong><%= @person.name %></strong>
      <% if @person.description.to_s.any? %>
        / <%= @person.description %>
      <% end %>
    </h2>


    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:email)        do %>
        <div class="favorites-group">
          <h4><%= t('people.email') %></h4>
          <%= mail_to @person.email                                %>
        </div>
      <% end %>
    </div>


    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:qq)        do %>
        <div class="favorites-group">
          <h4><%= t('people.QQ') %></h4>
          <%= mail_to @person.qq                                %>
        </div>
      <% end %>
    </div>



    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:msn)        do %>
        <div class="favorites-group">
          <h4><%= t('people.MSN') %></h4>
          <%= mail_to @person.msn                                %>
        </div>
      <% end %>
    </div>

    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:weibo)        do %>
        <div class="favorites-group">
          <h4><%= t('people.weibo') %></h4>
          <%= mail_to @person.weibo                                %>
        </div>
      <% end %>
    </div>


    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:twitter)        do %>
        <div class="favorites-group">
          <h4><%= t('people.twitter') %></h4>
          <%= mail_to @person.twitter                                %>
        </div>
      <% end %>
    </div>


    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:mobile_phone)        do %>
        <div class="favorites-group">
          <h4><%= t('profile.mobile') %></h4>
          <%= format_phone (@person.mobile_phone,true)                    %> 
        </div>
      <% end %>
    </div>

    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:work_phone)        do %>
        <div class="favorites-group">
          <h4><%= t('profile.work'  ) %></h4>
          <%= format_phone @person.work_phone                      %> 
        </div>
      <% end %>
    </div>





    <div class="favorites-group" style="margin-top: 15px">
      <%= attribute(:website)        do %>
        <div class="favorites-group">
          <h4><%= t('people.website'   ) %></h4>
          <%= link_to simple_url(@person.website), @person.website %> 
        </div>
      <% end %>
    </div>
      


    <ul class="profile-details"> 
      <div class="new-line"></div>
      <li class="icon">
        <%= link_to t('messages.send_message'), new_message_path(:to_person_id => @person), :class => 'email-icon' %>
      </li>
      <%= render :partial => 'friendship' %>
      <% if @logged_in.can_edit?(@person) %>
        <li class="icon">
          <%= link_to t('people.edit.profile'), edit_person_path(@person), :class => 'edit-icon' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="clear"></div>
  <div class="profile-sidebar">
	
      <h3><%= t('albums.picture_albums') %>
	<p style="float: right"><%= link_to t('albums.new'), new_album_path, :class => 'add-icon' %></p>
      </h3>

    <% if @albums.any? %>
     <p>
        <% @albums.each do |album| %>
          <%= link_to image_tag(album.cover ? album.cover.photo.url(:tn) : 'missing_tn.png', :alt => album.name),
            album, :title => album.name %>
        <% end %>
      </p>
    <% end %>
	
    <% cache(:fragment => 'friends') do %>
	<h3><%= t('friends.friends') %>
	<p style="float: right"><%= link_to t('friends.manager'), person_friends_path(@person), :class => 'add-icon' %></p>
        </h3>
      <% if @friends.any? %>
        <% @friends.each do |person| %>
          <% content_tag :a, :href => person_path(person) do %>
            <%= render :partial => 'people/thumbnail', :locals => {:person => person} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="profile-body">

    <h3><%= t('About') %></h3>
    <div class="about">
      <% unless @person.about.to_s.any? or
          @verses.any? or
          @person.activities.to_s.any? or
          @person.interests.to_s.any? or
          @person.books.to_s.any? or
          @person.music.to_s.any? or
          @person.movies.to_s.any? or
          @person.tv_shows.to_s.any? or
          @person.quotes.to_s.any? %>
        <em><%= t('people.nothing_here_yet') %></em>
      <% end %>
      <% if @person.about.to_s.any? %>
        <div class="favorites-group">
          <%= preserve_breaks @person.about %>
        </div>
      <% end %>
      <% if @verses.any? %>
        <div class="favorites-group">
          <h4><%= t('people.verses') %></h4>
          <ul class="favorites-inline">
            <% @verses.each do |verse| %>
              <li><%= link_to verse.reference, verse %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @person.activities.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.activities') %></h4>
          <%= preserve_breaks @person.activities %>
        </div>
      <% end %>
      <% if @person.interests.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.interests') %></h4>
          <%= preserve_breaks @person.interests %>
        </div>
      <% end %>
      <% if @person.books.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.books') %></h4>
          <%= preserve_breaks @person.books %>
        </div>
      <% end %>
      <% if @person.music.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.music') %></h4>
          <%= preserve_breaks @person.music %>
        </div>
      <% end %>
      <% if @person.movies.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.movies') %></h4>
          <%= preserve_breaks @person.movies %>
        </div>
      <% end %>
      <% if @person.tv_shows.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.tv_shows') %></h4>
          <%= preserve_breaks @person.tv_shows %>
        </div>
      <% end %>
      <% if @person.quotes.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.quotes') %></h4>
          <!--
          <ul class="list quotes">
            <li>I may not be able to say all I think; but I am not going to say anything that I do not think. I would rather a thousand times be a free soul in jail than to be a sycophant and coward in the streets. — <a href="http://en.wikiquote.org/wiki/Eugene_V._Debs#Canton_Anti-war_Speech_.281918.29">Eugene V. Debs, Canton Anti-war Speech (1918)</a></li>
          </ul>
          -->
          <p><%= preserve_breaks @person.quotes %></p>
        </div>
      <% end %>
    </div>

    <h3><%= t('people.business') %></h3>
    <div class="business">
      <% unless 
	  @person.business_category.to_s.any? or
          @person.business_name.to_s.any? or
          @person.business_description.to_s.any? or
          @person.business_website.to_s.any? %>
        <em><%= t('people.nothing_here_yet') %></em>
      <% end %>

    <div class="favorites-group">
      <% if @person.business_category.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('search.business_category') %></h4>
          <%= preserve_breaks @person.business_category %>
        </div>
      <% end %>
    </div>

    <div class="favorites-group">
      <% if @person.business_name.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.business_name') %></h4>
          <%= preserve_breaks @person.business_name %>
        </div>
      <% end %>
    </div>
    <div class="favorites-group">
      <% if @person.business_description.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.description_of_business') %></h4>
          <%= preserve_breaks @person.business_description %>
        </div>
      <% end %>
    </div>
    <div class="favorites-group">
      <% if @person.business_website.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.business_website') %></h4>
          <%= preserve_breaks @person.business_website %>
        </div>
      <% end %>
    </div>
   </div>

    <h3><%= t('people.edit.address') %></h3>
    <div class="business">
      <% unless 
	  @person.address.hometown_province.to_s.any? or
          @person.business_name.to_s.any? or
          @person.business_description.to_s.any? or
          @person.business_website.to_s.any? %>
        <em><%= t('people.nothing_here_yet') %></em>
      <% end %>

    <div class="favorites-group">
      <% if @person.address.hometown_province.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.hometown_province_city_address') %></h4>
          <%= @person.address.hometown_province %>
 	  <%= @person.address.hometown_city %>
	  <%= @person.address.hometown_address%>
        </div>
      <% end %>
    </div>

   <div class="favorites-group">
      <% if @person.address.liveing_province.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.liveing_province_city_address') %></h4>
          <%= @person.address.liveing_province %>
 	  <%= @person.address.liveing_city %>
	  <%= @person.address.liveing_address%>
        </div>
      <% end %>
    </div>


    <div class="favorites-group">
      <% if @person.address.current_province.to_s.any? %>
        <div class="favorites-group">
          <h4><%= t('people.current_province_city_address') %></h4>
          <%= @person.address.current_province %>
 	  <%= @person.address.current_city %>
	  <%= @person.address.current_address%>
        </div>
      <% end %>
    </div>
   
   </div>

  </div>
</div>
