<%= content_for  :head do %>
  <%= stylesheet_link_tag 'global-0.52' %>
  <%= stylesheet_link_tag  "osx" %>
<% end %>

<% content_for :sidebar do %>

  <%= render_cell :place,:search %>

  <h3><%= t('places.browse_by_category') %></h3>
  <%#*<p><%= select_tag 'category', options_for_select(@categories), :include_blank => true, :onchange => "location.href='?category='+this.value" %></p>%>

  <h3><%= t('places.create_a_place') %></h3>
  <p>
    <%= t('places.if_cant_find_create_it') %>
  </p>
  <p>
    <%= link_to t('places.create_a_place'), "#", :class => 'add-icon',:id=>"new_place_in_window" %>
  </p>

<% end %>


<%= render_cell :place,:place_index %>

<%= render_cell :map, :map_window,:logged_in=>@logged_in %>