<h3>我的印象：</h3>

<div><ul class="buttons">
<% @impressions.each do |impression| %>
  <%if @p_impression==nil  or  (@p_impression and@p_impression.impression != impression)%>
    <li><span class="button impression_bt" id="<%=impression.id%>" style=""><%= impression.name %></span></li>
<%else%>
    <li><span class="button impression_bt" id="<%=impression.id%>" style="background: #91C35A;color: white;"><%= impression.name %></span></li>
    <%end%>
  <%end%>
</ul></div>

<script>
  $('.impression_bt').click(function(){
    id = $(this).attr("id")
    $.ajax({                                                
            type: "POST",
            data: "id="+id+"&place_id=<%=@place.id%>",    
            url: "add_impression",                                      
            success: function(message){
                $("#"+id).attr("style","background: #91C35A;color: white;")
            } 
        });
    
    
  })
</script>