<ul class="tabs">
  <li><a href="#follow_user">关注的用户</a></li>
  <li><a href="#be_here_user">到过的用户</a></li>
  <li><a href="#want_to_user">想去的用户</a></li>
</ul>


<div class="panes" >
  <div style="margin-top: 10px;" class="tab_pane">
    <div class="scrollable " id="scroller" style="width:390px">
      <div class="items" >

        <% @follow_peoples.each do |mm| %>
          <%i =0%>
          <%if i%4==0 %>
            <div>
            <%end%>

            <%= content_tag :a, :href => person_path(mm.map.person) do %>
              <%= render_cell :people,:thumbnail,:person => mm.map.person %>
            <% end %>
            <%if i%4==0 %>
            </div>
          <%end%>
        <% end %>

      </div>

      <%if @follow_peoples.length >6%>
        <a class="prev browse left" ></a>
        <!-- "next page" action -->
        <a class="next browse right"></a>
      <%end%>


    </div>
  </div>

  <div class="tab_pane">
    <div style="margin-top: 10px;" class="tab_pane">
      <div class="scrollable " id="scroller" style="width:390px">
        <div class="items" >
          <%if @be_here_peoples%>
            <% @be_here_peoples.each do |mm| %>
              <%i =0%>
              <%if i%4==0 %>
                <div>
                <%end%>

                <%= content_tag :a, :href => person_path(mm.person) do %>
                  <%= render_cell :people,:thumbnail,:person => mm.person %>
                <% end %>
                <%if i%4==0 %>
                </div>
              <%end%>
            <% end %>
          <%end%>
        </div>

        <%if @be_here_peoples&&@be_here_peoples.length >6%>
          <a class="prev browse left" ></a>
          <!-- "next page" action -->
          <a class="next browse right"></a>
        <%end%>
      </div>
    </div>
  </div>
  <div class="tab_pane">
    <div style="margin-top: 10px;" class="tab_pane">
      <div class="scrollable " id="scroller" style="width:390px">
        <div class="items" >
          <%if @love_to_peoples%>
            <% @love_to_peoples.each do |mm| %>
              <%i =0%>
              <%if i%4==0 %>
                <div>
                <%end%>

                <%= content_tag :a, :href => person_path(mm.person) do %>
                  <%= render_cell :people,:thumbnail,:person => mm.person %>
                <% end %>
                <%if i%4==0 %>
                </div>
              <%end%>
            <% end %>
          <%end%>
        </div>

        <%if @love_to_peoples&&@love_to_peoples.length >6%>
          <a class="prev browse left" ></a>
          <!-- "next page" action -->
          <a class="next browse right"></a>
        <%end%>
      </div>

    </div>
  </div>
  <br></br>
  <script type="text/javascript">

    $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
      $("ul.tabs").tabs("div.panes > div.tab_pane");
      $("#scroller").scrollable();
    });

  </script>

