<div class="profile-left">
  <%= render :partial => '/groups/group_photo' %>
</div>
<%if @visit and @visit.length>1%>
  <div class="profile-right">
    <ul class="php_history">
      <li>访问历史</li>
      <%@visit.each do |visit|%>
        <li>  <%=  href_html visit%></li>
      <%end%>
    </ul>


  </div>
<%end%>
<div class="profile-midle">
<%#*分享栏%>
  <div id="html_person_id" value="<%=@person.id%>">
    <div id="html_group_id" value="<%=@group.id%>">
<%# 分享状态，照片，视频 %>
    <div class="tool_bar">
      <ul class="share-details share-selector">
        <li><%= link_to "群组简介", "##", :class => 'comment2-icon tool_link',:type=>"8"  %></li>
     <li><%= link_to "分享", "##", :class => 'comment2-icon tool_link' ,:type=>"11"   %></li>
        <li><%= link_to "相册", "##", :class => 'picture-icon tool_link' ,:type=>"9"   %></li>
        <li><%= link_to "组员", "##", :class => 'picture-icon tool_link',:type=>"10"   %></li>
        <li><%= link_to "全部群组", "##", :class => 'picture-icon tool_link',:type=>"7",:all=>true   %></li>
      </ul>

      <div class = "p_info tool_bar_div">
        <div class ="info">
          <%= @group.name %>
          <% if @group.description.to_s.any? %>
            <p><%= @group.description %></p>
          <% end %>
        </div>
          <p class="margin-top">
    <% if @logged_in.can_edit?(@group) %>
      <%= link_to t('groups.edit_group'), edit_group_path(@group), :class => 'edit-icon discreet',:remote=>true %>
    <% end %>
  </p>
      
      </div>

      <div class = "l_msg tool_bar_div"></div>

      <div class="tool_bar_div  share ">
<%#
不用窗体显示
%>

        <% @member_of = @logged_in.member_of?(@group)%>
        <form accept-charset="UTF-8" action="/notes" data-remote="true" id="share-note" method="post">
          <textarea  id="note_body_editor" name="note[body]" placeholder="<%if !@member_of%> 先加入群组，<%end%>分享你的心情和故事！:-)" style="width:450px;height:85px;"></textarea>
          <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
          <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />
          <%if @member_of%>
          <!-- video content -->
          <ul class="share-details share-selector">
            <li><%= link_to "文章", "#", :class => 'comment2-icon', :id => 'share-note-icon' %></li>
            <li><%= link_to t('share.picture'), "#", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
            <li><%= link_to t('share.video'), "#", :class => 'picture-icon', :id => 'share-video-icon' %></li>
          </ul>
          <%end%>
          <div>
             <%if @member_of%>   
            <div class="float_left"> 
             <input name="commit" type="submit" value="分享！" />
              <input name="note[group_id]" type="hidden" value="<%=@group.id%>" />
              <input name="[is_location]" type="hidden" value="0" />
              <input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
            </div>
            <div class="location_info">
              <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="地球某地" size="30" type="text" /><br/>
            </div>
            <%end%>
          </div>
        </form>



        <!-- modal content -->
        <div id="pic-modal-content" style="display:none">
          <div id="pic-modal-title">发布图片
            <span class="notice"  id="update_pic_notice">
            </span></div>
          <div class="close"><a href="#" class="simplemodal-close">x</a></div>
          <div id="pic-modal-data" >


            <form accept-charset="UTF-8" action="/pictures" class="new_picture" enctype="multipart/form-data" id="share-picture" method="post" >
              <input id="pictures"  name="picture" type="file" /><br/>
              <input id="return_url"  name="redirect_to" type="hidden" value="/stream" />
              <%= select "",:album,  @group.albums.collect {|p| [ p.name, p.name ] } + [['[新增相册]', '!']], {} ,{:onChange => "if(this.value=='!') custom_select_val(this, '新增相册')"} %><br/>
              <textarea id="editor_pic" name="photo_text"></textarea>
              <div class="location_info">
                <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="我的位置" size="30" type="text" /><br/>
              </div>
              <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
              <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />

              <div id="pic_submit">
                 <input name="group_id" type="hidden" value="<%=@group.id%>" />
                <input name="commit" type="submit" value="分享！">
                <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
              </div>

            </form>
          </div>
        </div>


        <!-- video content -->
        <div id="video-modal-content" >
          <div id="video-modal-title">发布视频
            <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_video_notice">
            </span></div>
          <div class="close"><a href="#" class="simplemodal-close">x</a></div>
          <div id="video-modal-data" >


            <form accept-charset="UTF-8" action="/videos" class="new_video" data-remote="true" id="share-video" method="post">
              <input id="video_name" name="video[name]" placeholder="视频名称" size="30" type="text" /><br/>

              <input id="video_html_url" name="video[html_url]" placeholder="视频地址" size="30" type="text" /><br/>
              <textarea cols="40" id="video_desc" name="video[desc]" placeholder="视频描述" rows="20"></textarea><br/>
              <div class="location_info" style="display:none">
                <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="地球某地" size="30" type="text" />
              </div>
              <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
              <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />
              <input name="commit" type="submit" value="分享！" />
              <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
 </div>



