<% content_for :head do %>
  <%= stylesheet_link_tag  "osx" %>
  <%= javascript_include_tag "extend/ui" %>
  <%= javascript_include_tag "ueditor/editor_config" %>
  <%= javascript_include_tag "ueditor/editor_ui_all_min" %>
  <%= stylesheet_link_tag  "ueditor/themes/default/ueditor" %>
  <%= javascript_include_tag "extend/jquery.form" %>
  <%= stylesheet_link_tag  "osx" %>
<%end%>
<% if @has_friendship_requests %>
  <div class="highlight">
    <%= t('friends.you_have_pending_requests_html', :url => person_friends_path(@person)) %>
  </div>
<% end %>
<% if @has_activity_invite %>
  <div class="highlight">
    <%= t('friends.you_have_activity_invite_html', :url => person_activities_path(@person)) %>
  </div>
<% end %>


<% content_for :top do %>
  <%= render_cell :map, :map,:map => @person.map,:person=>@person,:logged_in=>@logged_in %>
<%end%>
<% content_for :sidebar do %>

  <h3 class="double-margin-top">我要二一下</h3>
  <p>分享你的心情，照片，视频，二二身体好，二二更健康</p>
  <%=render_cell :common,:share%>



  <%= render_cell :people,:thumbnail_wall %>
  <%= render_cell :place,:place_pic_wall %>


  <% if Setting.get(:features, :prayer_event) %>
    <h3><%= t('prayer_signups.home_page_heading') %></h3>
    <div id="taken_slots"></div>
    <p><%= link_to t('prayer_signups.home_page_heading'), prayer_signups_path, :class => 'right-icon' %></p>
    <script type="text/javascript">
      $.get('<%= prayer_signups_path(:format => 'js') %>');
    </script>
  <% end %>
<% end %>

<div class="stream-items" id="stream_item_wall">
  <%= render :partial => 'stream_items' %>
</div>
