scroller('anchor_content', 800);
$(".content").attr("type","stream") ;
$(".accommodate-left-sidebar").attr("class","accommodate-left-sidebar");
$(".content").html("<%= escape_javascript(render :partial => 'h3')%><%= escape_javascript(render :partial => 'common/notify')%><div class='stream-items' id='stream_item_wall'></div>"+"<a href='/stream?page=2' data-remote='true' id='show_next'>继续查看</a>")



<%if @stream_items.length > 0%>
$("#no_stream_more").remove()

<% if @page == 1 %>
$("#stream_item_wall").html("<%= escape_javascript(render :partial => 'streams/stream_item', :as => :stream_item,:collection => @stream_items,:locals =>{:show_on=>"wall",:logged_in=>@logged_in,:person=>@person}) %>");
<%else%>
$("#stream_item_wall").append("<%= escape_javascript(render :partial => 'streams/stream_item', :as => :stream_item,:collection => @stream_items,:locals =>{:show_on=>"wall",:logged_in=>@logged_in,:person=>@person}) %>");
<%end%>
$("#show_next").attr("href","/stream?page=<%= @page.to_i+1%>")
<%else%>

$("#show_no_stream_msg").html("<span id='no_stream_more'>没有了。。。。</span>");
<%end%>
$("img[rel]").overlay({effect: 'drop',mask: '#789'});
