<%= javascript_include_tag "extend/jquery.form" %>
<%= javascript_include_tag "extend/map" %>
<%= javascript_include_tag  'http://api.map.baidu.com/api?v=1.2' %>
<%= javascript_include_tag  'http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay.js' %>
<%= javascript_include_tag  'http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer.js' %>
<%= javascript_include_tag "map/map_baidu" %>

<script type="text/javascript">
  $(document).ready(function() {
    MapObject.place_html = document.getElementById("map_infowindow").innerHTML;
    $('#map_infowindow').remove();
<% if !is_blank(@map.center_latitude,@map.center_longitude)%>
      MapObject.center = new BMap.Point('<%=@map.center_latitude%>','<%=@map.center_longitude%>')
<%end%>
<% if !is_blank(@map.zoom) %>MapObject.zoom_level = <%= @map.zoom%>;<%end%>
<%if !is_blank(@person.home_address)%>  
      MapObject.home_address = '<%=@person.home_address%>' 
<%end%>

    MapObject.initialize('<%=@person.id%>',"mapCanvas",null) ;
	
  });

</script>


<%#end%>
<div id ="temp_div" style="display: none" >
<div id ="map_infowindow" >
  <%= render_cell :common, :new_place %>
</div>
<div id ="place_info">
<%=render :partial => '../views/common/place_info',:locals => {:place=>nil,:marker=>nil}%>
</div>
 </div>

<div id="map_controll">
  <ul class="buttons">
    <li><span class="button" id="new-marker-tab" onclick="MapObject.add_place_to_map_listen();">发布地点</span></li>
    <li><span class="button" onclick="MapObject.init_marker_from_data('friend_position','<%= @person.id %>');">查看好友位置</span></li>
    <li><span class="button" id="posittion-tab">我要旅游</span></li>
    <li><span class="button" id="activities-tab">我要活动</span></li>
    <li><span class="button" id="" onclick="MapObject.i_go_to()" >我要去</span></li>
  </ul>
</div>



<div id="mapCanvas" style="width: 100%; height: 385px;">map div</div> 
<div id="results"></div>
<div id="searchwell"></div> 