<%= javascript_include_tag "extend/jquery.form" %>
<%= javascript_include_tag  'http://api.map.baidu.com/api?v=1.2' %>
<%= javascript_include_tag  'http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay.js' %>
<%= javascript_include_tag "map/map_baidu" %>

<script type="text/javascript">
  $(document).ready(function() {
<% if !is_blank(@map.center_latitude,@map.center_longitude)%>
      MapObject.center = new BMap.Point('<%=@map.center_latitude%>','<%=@map.center_longitude%>')
<%end%>
<% if !is_blank(@map.zoom) %>MapObject.zoom_level = <%= @map.zoom%>;<%end%>
<%if !is_blank(@logged_in.postition.home_latitude,@logged_in.postition.home_longitude)%>  
      MapObject.home_marker_point = new BMap.Point('<%=@logged_in.postition.home_longitude%>','<%=@logged_in.postition.home_latitude%>')  
<%end%>
    MapObject.initialize('<%=@person.id%>',"mapCanvas",null) ;
	
  });

</script>


<%#end%>

<div id ="map_infowindow" style="display: none" >
  <%= render_cell :common, :new_place %>
</div>

<div id="map_controll">
  <ul class="buttons">
    <li><span class="button" id="new-marker-tab" onclick="MapObject.add_marker_listen();">发布地点</span></li>
    <li><span class="button" onclick="MapObject.init_marker_from_data('firend_postition');">查看好友位置</span></li>
    <li><span class="button" id="posittion-tab">我要旅游</span></li>
    <li><span class="button" id="activities-tab">我要活动</span></li>
  </ul>
</div>



<div id="mapCanvas" style="width: 100%; height: 385px;">map div</div> 
<div id="searchwell"></div> 