<!-- video content -->
<div id="video-modal-content" >
  <div id="video-modal-title">发布视频
    <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_video_notice">
    </span></div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="video-modal-data" >


    <%= form_for Video.new, :html => {:id => 'share-video'},:remote=>true  do |form| %>
      <%= form.text_field :name,:placeholder => "视频名称"%><br/>
      
      <%= form.text_field :html_url,:placeholder => "视频地址"%><br/>
      <%= form.text_area :desc,:placeholder => "视频描述"%><br/>
      <div class="location_info" style="display:none">
        <%= text_field 'marker','geocode_position', :placeholder=>"地球某地",:class=>"marker_geocode_position" %>
      </div>
      <%= text_field 'marker','marker_latitude', :type=>'hidden',:class=>"marker_marker_latitude" %>
      <%= text_field 'marker','marker_longitude', :type=>'hidden',:class=>"marker_marker_longitude" %>
      <%= submit_tag t('share.share') %>
      <%=check_box nil,"is_location",:class=>"is_location",:title=>"是否带地理位置，默认为当前位置",:value=>"1"%>地理位置
    <% end %>



  </div>
</div>
<!-- video content -->

