<%# 分享状态，照片，视频 %>
<div class="share">
  <%= text_field_tag 'share-starter', '', :placeholder => t('share.profile') %>
  <ul class="share-details share-selector" style="display:none;">
    <li><%= link_to "心情", "#", :class => 'comment2-icon', :id => 'share-note-icon' %></li>
    <li><%= link_to t('share.picture'), "#", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
    <li><%= link_to t('share.video'), "#", :class => 'picture-icon', :id => 'share-video-icon' %></li>
    <li class="cancel-link"><%= link_to_function '', 'hideShare()', :class =>  'delete-icon' %></li>
  </ul>
  <%=render_cell :common,:add_note_windows%>
  <%=render_cell :common,:add_pic_windows%>
  <%=render_cell :common,:add_video_windows%>
</div>


