<div class="share">
  <%= text_field_tag 'share-starter', '', :placeholder => t('share.profile') %>
  <ul class="share-details share-selector" style="display:none;">
    <% if Setting.get(:features, :notes) %>
      <li><%= link_to_function t('share.note'), "selectShare('share-note')", :class => 'comment2-icon', :id => 'share-note-icon' %></li>
    <% end %>
    <% if Setting.get(:features, :pictures) %>
      <li><%= link_to_function t('share.picture'), "selectShare('share-picture')", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
    <% end %>
       <li><%= link_to_function t('share.video'), "selectShare('share-video')", :class => 'picture-icon', :id => 'share-video-icon' %></li>
    <li class="cancel-link"><%= link_to_function '', 'hideShare()', :class =>  'delete-icon' %></li>
  </ul>
  <% if Setting.get(:features, :notes) %>
    <%= form_for Note.new, :html => {:id => 'share-note', :class => 'share-type'},:remote=>true  do |form| %>
      <%= hidden_field_tag :redirect_to, stream_path %>
      <span class="small"><%= t('share.note_label') %></span><br/>
      <%= form.text_area :body, :rows => 2 ,:class=>"share_text",:placeholder => "你想发表的心情，状态，感想"%><br/>
      <div class="location_info" style="display:none">
        <%= text_field 'marker','geocode_position', :placeholder=>"我的位置",:class=>"marker_geocode_position" %><br>
      </div>
      <%= text_field 'marker','marker_latitude', :type=>'hidden',:class=>"marker_marker_latitude" %>
      <%= text_field 'marker','marker_longitude', :type=>'hidden',:class=>"marker_marker_longitude" %>
      <%= submit_tag t('share.share') %>
      <input class="is_location" title="是否带地理位置，默认为当前位置" type="checkbox" value="1">地理位置
    <% end %>
  <% end %>
  <% if Setting.get(:features, :pictures) %>
    <%= form_for Picture.new, :html => {:multipart => true, :id => 'share-picture', :class => 'share-type'} do |form| %>
      <%= file_field_tag 'pictures[]', :multiple => true %><br/>
      <%= text_field_tag 'album', '', :size => 10, :placeholder => t('share.default_album_name') %><br/>
      <%= text_area_tag "photo_text",'',:class=>"share_text",:size => "40x2", :placeholder => "照片描述" %><br/>
      <div class="location_info" style="display:none">
        <%= text_field 'marker','geocode_position', :placeholder=>"我的位置",:class=>"marker_geocode_position" %><br>
      </div>
      <%= text_field 'marker','marker_latitude', :type=>'hidden',:class=>"marker_marker_latitude" %>
      <%= text_field 'marker','marker_longitude', :type=>'hidden',:class=>"marker_marker_longitude" %>

      <span class='button' onclick='ajaxFileUpload_file()' ><%= t('share.share') %></span>
      <input class="is_location" title="是否带地理位置，默认为当前位置" type="checkbox" value="1">地理位置
    <% end %>
  <% end %>
      
        <%= form_for Video.new, :html => {:id => 'share-video', :class => 'share-type'},:remote=>true  do |form| %>
      <%= form.text_field :name,:placeholder => "视频名称"%><br/>
      <%= form.text_field :desc,:placeholder => "视频描述"%><br/>
      <%= form.text_field :video_url,:placeholder => "视频地址"%><br/>
      <div class="location_info" style="display:none">
        <%= text_field 'marker','geocode_position', :placeholder=>"我的位置",:class=>"marker_geocode_position" %><br>
      </div>
      <%= text_field 'marker','marker_latitude', :type=>'hidden',:class=>"marker_marker_latitude" %>
      <%= text_field 'marker','marker_longitude', :type=>'hidden',:class=>"marker_marker_longitude" %>
      <%= submit_tag t('share.share') %>
      <input class="is_location" title="是否带地理位置，默认为当前位置" type="checkbox" value="1">地理位置
    <% end %>  
      
  </div>

  <script>
    
    $(".is_location").change(function(){
      if($(this).attr("checked")==true){
        $(".location_info").show();

        $(".is_location").attr("checked",true)
        if(MapObject.myLocation){
          $(".marker_geocode_position").attr("value",  MapObject.myLocation_address);
          $(".marker_marker_latitude").attr("value",  MapObject.myLocation.lat );
          $(".marker_marker_longitude").attr("value",  MapObject.myLocation.lng);
        }

      }else{
        $(".location_info").hide();
        $(".marker_geocode_position").attr("value", '');
        $(".marker_marker_latitude").attr("value",  "");
        $(".marker_marker_longitude").attr("value",  "");
      }
      
    })
      
    $(".marker_geocode_position").change(function(){
      if($(this).attr("value")!=MapObject.myLocation_address){
        $(".marker_marker_latitude").attr("value",  "");
        $(".marker_marker_longitude").attr("value",  "");
      }else{
        if(MapObject.myLocation){
          $(".marker_marker_latitude").attr("value",  MapObject.myLocation.lat);
          $(".marker_marker_longitude").attr("value",  MapObject.myLocation.lng);
        }

      }
    })
      

    $("#share-note").submit(function(){  
      if ($(".marker_geocode_position").attr("value") == "我的位置"){
        $(".marker_geocode_position").attr("value","")
      }
      var options = {   
        url:$(this).attr("action"), //提交给哪个执行  
        type:'POST',
        beforeSubmit:function(formData, jqForm, options){

        },
        success:function(){
          $("#location_info").hide();
        }
      };
      $('#share-note').ajaxSubmit(options);   
           
      return false; //为了不刷新页面,返回false，反正都已经在后台执行完了，没事！  
    }
  );
  
  
    function ajaxFileUpload_file(){
      url = ""
      if($(".is_location").attr("checked") ==true){
        url = "?album="+$("#album").val() +"&photo_text="+$("#photo_text").val()+
          "&marker[geocode_position]="+$(".marker_geocode_position").val()+
          "&marker[marker_latitude]="+$(".marker_marker_latitude").val()+
          "&marker[marker_longitude]="+$(".marker_marker_longitude").val()
      }else{
        url = "?album="+$("#album").val() +"&photo_text="+$("#photo_text").val()
      }
     
      $.ajaxFileUpload({
        url:'/pictures/'+url,
        secureuri:false,
        dataType: 'json',
        fileElementId:'pictures_',
        success: function (data,status){
          if(data && data.success==true){
            $("#notice").html(data.notice)
            $("#notice").show()
            $('#notice').fadeOut(15000);
            $("#share-picture").resetForm();
            $("#marker_geocode_position").attr("value", '');
            $("#marker_destin_position").attr("value", '')
            for (var i=0;i<=data.html.length-1;i++) {
              $.ajax({                                                
                type: "GET",                                    
                url: "/pictures/get_stream_item",
                data:"pic_id="+data.html[i].pic_id+"&marker_id="+data.html[i].marker_id,
                success: function(){}
              });
            }
          }else{
            alert("文件保存失败1")
          }
        },
        error: function (data, status, e){
          alert(data.success)
          alert("文件保存失败2")
        }
      })
      return false;
    }
  
  
  
  </script>
  <%= javascript_include_tag "extend/ui" %>
