<%# 分享状态，照片，视频 %>
<div class="share">
  <%= text_field_tag 'share-starter', '', :placeholder => t('share.profile') %>
  <ul class="share-details share-selector" style="display:none;">
    <li><%= link_to "心情", "#", :class => 'comment2-icon', :id => 'share-note-icon' %></li>
    <li><%= link_to t('share.picture'), "#", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
    <li><%= link_to t('share.video'), "#", :class => 'picture-icon', :id => 'share-video-icon' %></li>
    <li class="cancel-link"><%= link_to_function '', 'hideShare()', :class =>  'delete-icon' %></li>
  </ul>

<%#
不用窗体显示
%>

  <form accept-charset="UTF-8" action="/notes" class="share-type" data-remote="true" id="share-note" method="post">
    <span class="small">今天你二了吗？</span><br/>
    <textarea cols="40" id="note_body_editor" name="note[body]" rows="20" style="width:285px;height:200px;"></textarea><br/>
    <div class="location_info" style="display:none">
      <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="地球某地" size="30" type="text" /><br/>
    </div>
    <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
    <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />
    <input name="commit" type="submit" value="分享！" />
    <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
  </form>



  <!-- modal content -->
  <div id="pic-modal-content" style="display:none">
    <div id="pic-modal-title">发布图片
      <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_pic_notice">
      </span></div>
    <div class="close"><a href="#" class="simplemodal-close">x</a></div>
    <div id="pic-modal-data" >


      <form accept-charset="UTF-8" action="/pictures" class="new_picture" enctype="multipart/form-data" id="share-picture" method="post" target="upload_frame">
        <input id="pictures_" multiple="multiple" name="pictures[]" type="file" /><br/>
        <input id="album" name="album" placeholder="专辑名称" size="10" type="text" value="" /><br/>
        <textarea id="editor_pic" name="photo_text"></textarea>
        <div class="location_info">
          <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="我的位置" size="30" type="text" /><br/>
        </div>
        <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
        <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />

        <div id="pic_submit">
          <span class='button' onclick='ajaxFileUpload_file()' >分享！</span>
          <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
        </div>

      </form>
    </div>
  </div>


  <!-- video content -->
  <div id="video-modal-content" >
    <div id="video-modal-title">发布视频
      <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_video_notice">
      </span></div>
    <div class="close"><a href="#" class="simplemodal-close">x</a></div>
    <div id="video-modal-data" >


      <form accept-charset="UTF-8" action="/videos" class="new_video" data-remote="true" id="share-video" method="post">
        <input id="video_name" name="video[name]" placeholder="视频名称" size="30" type="text" /><br/>

        <input id="video_html_url" name="video[html_url]" placeholder="视频地址" size="30" type="text" /><br/>
        <textarea cols="40" id="video_desc" name="video[desc]" placeholder="视频描述" rows="20"></textarea><br/>
        <div class="location_info" style="display:none">
          <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="地球某地" size="30" type="text" />
        </div>
        <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
        <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />
        <input name="commit" type="submit" value="分享！" />
        <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
      </form>



    </div>
  </div>
  <!-- video content -->


</div>


<script>
    editor_note = new baidu.editor.ui.Editor({
    toolbars:[
      ['Bold','Italic','Underline','|','strikethrough','FontSize','ForeColor','BackColor','ImageCenter','|','InsertImage','Emotion'  ]
    ],autoClearinitialContent:true,
    initialContent: '<span style="color:#ccc">分享你的心情！！</span>',
    elementPathEnabled:false,
    textarea: 'note[body]'
  });
  editor_note.render('note_body_editor');  //editor为编辑器容器的id
</script>