<div id="html_person_id" value="<%=@person.id%>">
<%# 分享状态，照片，视频 %>
<div class="tool_bar">
  <ul class="share-details share-selector">
    <li><%= link_to "个人信息", "##", :class => 'comment2-icon tool_link',:type=>"1",:person_id=>"#{@person.id}" %></li>
    <li><%= link_to "分享", "##", :class => 'comment2-icon tool_link' ,:type=>"2" ,:person_id=>"#{@person.id}" %></li>
    <li><%= link_to "相册", "##", :class => 'picture-icon tool_link' ,:type=>"3" ,:person_id=>"#{@person.id}" %></li>
    <li><%= link_to "留言板", "##", :class => 'picture-icon tool_link' ,:type=>"4" ,:person_id=>"#{@person.id}" %></li>
    <li><%= link_to "好友", "##", :class => 'picture-icon tool_link',:type=>"5" ,:person_id=>"#{@person.id}" %></li>
  </ul>

  <div class = "p_info tool_bar_div">
    <div class ="info">
    <p>
      <%= "#{ta(@person)}是"+ t("people.#{@person.gender}") if @person.gender %>
      <%="来自"+ @person.home_address  if @person.home_address and @person.home_address.to_s.any?%>
      <%= "生日在"+@person.birthday.strftime("%Y-%m-%d") if @person.birthday.to_s.any? %>
    </p>
    <p>
    <%= "#{ta(@person)}是一个 “"+ @person.description+ "” 的人" if @person.description.to_s.any?%>
    </p>
    
    <% if @person.qq.to_s.any?  or @person.msn.to_s.any? or @person.weibo.to_s.any? %>
    <p>
      联系方式, <%= "qq: " +@person.qq  if @person.qq%><%= "msn:"+ @person.msn if @person.msn %><%=  "微博: "+ @person.weibo if @person.weibo%>
    </p>
     <%end%>
    </div>
    
    <p>
    <% if @logged_in.can_edit?(@person) %>
         <%= link_to t('people.edit.profile'), edit_person_path(@person),:remote=>true, :class => 'edit-icon' %>
    <% end %>
      <%if @logged_in != @person%>
      <%= link_to "给ta发邮件", new_message_path(:to_person_id => @person), :class => 'email-icon' %>
      <%end%>
      </p>
  </div>

  <div class = "l_msg tool_bar_div"></div>

  <div class="tool_bar_div  share ">
<%#
不用窗体显示
%>

    <form accept-charset="UTF-8" action="/notes" data-remote="true" id="share-note" method="post">
      <textarea  id="note_body_editor" name="note[body]" placeholder="分享你的心情和故事！:-)" style="width:450px;height:85px;"></textarea>
      <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
      <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />

      <!-- video content -->
      <ul class="share-details share-selector">
        <li><%= link_to "文章", "#", :class => 'comment2-icon', :id => 'share-note-icon' %></li>
        <li><%= link_to t('share.picture'), "#", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
        <li><%= link_to t('share.video'), "#", :class => 'picture-icon', :id => 'share-video-icon' %></li>
      </ul>

      <div>
        <div class="float_left"> 
          <input name="commit" type="submit" value="分享！" />
          <input name="[is_location]" type="hidden" value="0" />
          <input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
        </div>
        <div class="location_info">
          <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="地球某地" size="30" type="text" /><br/>
        </div>
      </div>
    </form>



    <!-- modal content -->
    <div id="pic-modal-content" style="display:none">
      <div id="pic-modal-title">发布图片
        <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_pic_notice">
        </span></div>
      <div class="close"><a href="#" class="simplemodal-close">x</a></div>
      <div id="pic-modal-data" >


        <form accept-charset="UTF-8" action="/pictures" class="new_picture" enctype="multipart/form-data" id="share-picture" method="post" >
          <input id="pictures"  name="picture" type="file" /><br/>
          <input id="return_url"  name="redirect_to" type="hidden" value="/stream" />
          <%= select "",:album,  Album.find(:all,:conditions=>["person_id = ? ",@logged_in.id]).collect {|p| [ p.name, p.name ] } + [['[新增相册]', '!']], {} ,{:onChange => "if(this.value=='!') custom_select_val(this, '新增相册')"} %><br/>
          <textarea id="editor_pic" name="photo_text"></textarea>
          <div class="location_info">
            <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="我的位置" size="30" type="text" /><br/>
          </div>
          <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
          <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />

          <div id="pic_submit">
            <input name="commit" type="submit" value="分享！">
            <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
          </div>

        </form>
      </div>
    </div>


    <!-- video content -->
    <div id="video-modal-content" >
      <div id="video-modal-title">发布视频
        <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_video_notice">
        </span></div>
      <div class="close"><a href="#" class="simplemodal-close">x</a></div>
      <div id="video-modal-data" >


        <form accept-charset="UTF-8" action="/videos" class="new_video" data-remote="true" id="share-video" method="post">
          <input id="video_name" name="video[name]" placeholder="视频名称" size="30" type="text" /><br/>

          <input id="video_html_url" name="video[html_url]" placeholder="视频地址" size="30" type="text" /><br/>
          <textarea cols="40" id="video_desc" name="video[desc]" placeholder="视频描述" rows="20"></textarea><br/>
          <div class="location_info" style="display:none">
            <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="地球某地" size="30" type="text" />
          </div>
          <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
          <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />
          <input name="commit" type="submit" value="分享！" />
          <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
        </form>
      </div>
    </div>

  </div>
</div>
</div>


