<h1>Listing impressions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>I type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @impressions.each do |impression| %>
  <tr>
    <td><%= impression.name %></td>
    <td><%= impression.i_type %></td>
    <td><%= link_to 'Show', impression %></td>
    <td><%= link_to 'Edit', edit_impression_path(impression) %></td>
    <td><%= link_to 'Destroy', impression, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Impression', new_impression_path %>
