<div id="triggers">
  <%= image_tag(@picture.photo.url(:large), :alt => t('pictures.click_to_see_original'),:rel=>"#mies#{@picture.id}") %>
  <div class='simple_overlay' id="mies<%=@picture.id%>">
<%=  image_tag(@picture.photo.url(:original),:alt => t('pictures.click_to_enlarge'))%>
</div>  
  <br>
  <%=@picture.photo_text%>
</div>
<% if Setting.get(:privacy, :allow_picture_comments) %>
  <h3><%= t('Comments') %></h3>
  <%= render :partial => 'comments/comments', :locals => {:object => @picture, :intro => t('pictures.comment_on_this_picture')} %>
<% end %>