<div id = 'stream_item_<%=marker.id%>' class='stream-item' style='margin-bottom: 0px;min-height:70px;height:auto;min-width:200px;width:auto;'>
	<div class='stream-item-meta'>
          <%= render :partial => 'streams/person_thumbnail', :locals => {:stream_item => marker.object} %>
	<div style='clear:left;'></div>
	</div>
	<div class='stream-item-body'><div class='stream-item-content'>
	 <%= stream_item_content(marker.object) %>
	<%=link_to t('comments.view') + '...', marker.object, :class => 'small' ,:target=>'_blank'%> 
	</div>
	<div class='nowrap stream-item-timestamp'>
	 <%=  marker.object.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
	<%= link_to marker.object.person.name, marker.object.person,:target=>'_blank' %> 
	</div>

	<div class = 'marker_address'>
		<%= get_address_href(marker.geocode_position)%>
	</div> 
	<div class ='marker_common' >
 	<span><a href='#' onclick='MapObject.marker_del(<%=marker.id%>)'>delete</a></span> 
 	<span><a href='#' onclick='MapObject.marker_move(<%=marker.id%>)'>move</a></span>
        <span><a href='#' onclick='MapObject.marker_locus(<%=marker.id%>)'>Locus</a></span>
        <span><a href='#' onclick='MapObject.marker_last(<%=marker.id%>)'>last</a></span> 
        <span><a href='#' onclick='MapObject.marker_next(<%=marker.id%>)'>next</a></span> 
	</div>
</div>
    
