<span class ='comment2-icon add_place'>发布我的地点</span>
<br/>
<%= form_for Place.new, :remote=>true,:html => {:multipart => true,:id => 'new_place_form',:onsubmit=>''} do |form| %>  
  <%= form.text_field :place_name, :placeholder => "给你的地点起个名字" %>
  <%= form.text_field :full_address, :type=>'hidden' %>
  <%= form.text_field :place_latitude, :type=>'hidden' %>
  <%= form.text_field :place_longitude, :type=>'hidden' %>
  <%= text_field :picture,:id, :type=>'hidden' %>
<br/>
<%= form.text_area :place_description, :rows => 2,:width=>'140px',:cols=>35, :placeholder => "留下点说明吧。。。"%>
<br/>
 是否公开该地点？<%= form.check_box :is_public,:title=>"公开的地点无法删除" %>
<br/>
   <span class ='picture-icon' style='color: #5F9128;margin-top: 5px'>添加图片:&nbsp</span>
   <input type="file"  id ="fileToUpload" name ="picture" onchange="fileChange(this.value)" style="width:100px;"/>
<% end %>


<span  style=""class="button" id="sbumit_button" onclick="$('#new_place_form').submit();"><%=t('share.share')%></span>
<%=image_tag("loading.gif",:id=>"loading",:style=>"display:none;",:height=>20)%>
<span style="float:right;margin-right: 20px;"><%=image_tag("missing_tn.png",:id=>"temp_pic",:style=>"display:none",:height => '30')%></span>

<script>
  function fileChange(full_path){
    ajaxFileUpload();
  }
          
          
          
          
  function ajaxFileUpload(){
    loading();//动态加载小图标
    $.ajaxFileUpload({
      url:'/location/places/add_temp_pic',
      secureuri:false,
      dataType: 'json',
      fileElementId:'fileToUpload',
      success: function (data,status){
        if(data.success=="true"){
          $("#picture_id").attr("value",data.pic_id)
          $("#temp_pic").attr("src",data.pic_url);
          $("#temp_pic").attr("style","display:");
        }else{
          alert("文件保存失败")
        }
      },
      error: function (data, status, e){
        alert(e)
      }
    })
    return false;
  }
  function loading(){
    $("#loading").ajaxStart(function(){
      $(this).show();
      $("#sbumit_button").removeAttr("onclick");

    }).ajaxComplete(function(){
      $(this).hide();
      $("#sbumit_button").bind( "click", function() { // 绑定新事件
        $('#new_place_form').submit();
      });
    });
  }
                    
</script>

