<!--
<div id="place_title"><span  style=" font-size:25px;">
<%if place%>
  <%= link_to place.place_name,[:location,place],:target=>"_blank" %>
<%end%>
  </span>
<%if marker_follow?(marker)%>
      <span style="margin-left:20px;">
  <%= link_to "取消关注","#",:class=>"follow_link",:action=>"cancer",:marker_id=>marker.id,:marker_type=>"Place", :confirm=>"真的要取消关注"%>
      </span>
<%else%>
      <span style="margin-left:20px;">
  <%= link_to "添加关注","#",:class=>"follow_link",:action=>"add",:marker_id=>marker ? marker.id : "",:marker_type=>"Place"%>
      </span>
<%end%>
</div>

<div style="min-height:100px;" id="place_pic_small">

<% if !place or !place.picture%>
      <p id="place_pic_small"><%= image_tag('missing_small.png', :alt => t('none'),:style=>"float: left") %></p>
<%else%>
      <p id="place_pic_small"><%= image_tag(place.picture.photo.url(:small), :alt =>place.place_name,:style=>"float: left") %></p>
<% end %>
  <span style="float: left;margin-left: 10px;">
    <p id="place_desc"><%= place ? place.place_description : "" %>
    </p>
  </span>
</div>
<div id = 'marker_address'>
<%if place%>
  <%= get_address_href(place.full_address)%>
<%end%>
</div>
<div class ='marker_common' >
  <span>
    <a href='#' onclick='MapObject.marker_del(<%=marker ? marker.id : ""%>)'>delete</a>
  </span>
  <span>
    <a href='#' onclick='MapObject.marker_move(<%=marker ? marker.id : ""%>)'>move</a>
  </span>
</div>

-->

<div id = 'stream_item_<%=marker.id%>' class='stream-item'>
  <div class='stream-item-meta'>
    <%= render :partial => 'streams/person_thumbnail', :locals => {:person => marker.owner} %>
    <div style='clear:left;'></div>
  </div>



  <div class='stream-item-body'>

   
    <span  style=" font-size:25px;">
          <%= link_to place.place_name,[:location,place],:target=>"_blank" %>
      </span>
    <div class='stream-item-content'>
      <%=render_cell :stream,:content,:stream_item=>place.stream_item,:show_on=>"map",:logged_in=>@logged_in%>
    </div>
    <div class='nowrap stream-item-timestamp'>
      <%=  place.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>

    <div class = 'marker_address'>
      <%= get_address_href(marker.geocode_position)%>
    </div>
    <div class ='marker_common' >
      <span><a href='#' onclick=MapObject.marker_del('share',<%=marker.id%>)>delete</a></span>
      <span><a href='#' onclick=MapObject.marker_move("share","<%=marker.id%>")>move</a></span>
      <span><a href='#' onclick='MapObject.marker_last_next(<%=marker.id%>,1)'>last</a></span>
      <span><a href='#' onclick='MapObject.marker_last_next(<%=marker.id%>,2)'>next</a></span>
    </div>
  </div>
</div>




