<div class="share">
      <%= text_field_tag 'share-starter', '', :placeholder => t('share.profile') %>
      <ul class="share-details share-selector" style="display:none;">
        <% if Setting.get(:features, :notes) %>
          <li><%= link_to_function t('share.note'), "selectShare('share-note')", :class => 'comment2-icon', :id => 'share-note-icon' %></li>
        <% end %>
        <% if Setting.get(:features, :pictures) %>
          <li><%= link_to_function t('share.picture'), "selectShare('share-picture')", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
        <% end %>
        <li class="cancel-link"><%= link_to_function '', 'hideShare()', :class =>  'delete-icon' %></li>
      </ul>
      <% if Setting.get(:features, :notes) %>
        <%= form_for Note.new, :html => {:id => 'share-note', :class => 'share-type'} do |form| %>
          <%= hidden_field_tag :redirect_to, stream_path %>
          <span class="small"><%= t('share.note_label') %></span><br/>
          <%= form.text_area :body, :rows => 2 %><br/>
          <%= submit_tag t('share.share') %>
        <% end %>
      <% end %>
      <% if Setting.get(:features, :pictures) %>
        <%= form_for Picture.new, :html => {:multipart => true, :id => 'share-picture', :class => 'share-type'} do |form| %>
          <%= file_field_tag 'pictures[]', :multiple => true %><br/>
          <%= text_field_tag 'album', '', :size => 10, :placeholder => t('share.default_album_name') %><br/>
          <%= submit_tag t('share.share') %>
        <% end %>
      <% end %>
</div>
 <%= javascript_include_tag "extend/ui" %>