<div class="map_infowindow">
      <%= text_field_tag 'share-starter', '', :placeholder => t('share.profile') %>
      <ul class="share-details share-selector" style="display:none;">
        <% if Setting.get(:features, :notes) %>
          <li><%= link_to_function t('share.note'), "selectShare('share-note')", :class => 'comment2-icon', :id => 'share-note-icon' %></li>
        <% end %>
        <% if Setting.get(:features, :pictures) %>
          <li><%= link_to_function t('share.picture'), "selectShare('share-picture')", :class => 'picture-icon', :id => 'share-picture-icon' %></li>
        <% end %>
        
      </ul>
      <% if Setting.get(:features, :notes) %>
        <%= form_for Note.new, :html => {:id => 'share-note', :class => 'share-type',:onsubmit=>'MapObject.submit_marker('notes');return false'} do |form| %>
          <%= hidden_field_tag :redirect_to, stream_path %>
          <span class="small"><%= t('share.note_label') %></span><br/>
          <%= form.text_area :body, :rows => 2,:width=>'260px' %><br/>
          <%= submit_tag t('share.share'),:onclick=>"return false;" %>
        <% end %>
      <% end %>
      <% if Setting.get(:features, :pictures) %>
        <%= form_for Picture.new, :html => {:multipart => true, :id => 'share-picture', :class => 'share-type',:onsubmit=>'MapObject.submit_marker('pictures');return false'} do |form| %>
          <%= file_field_tag 'pictures[]', :multiple => true %><br/>
          <%= text_field_tag 'album', '', :size => 10, :placeholder => t('share.default_album_name') %><br/>
          <%= submit_tag t('share.share'),:onclick=>"return false;"  %>
        <% end %>
      <% end %>
</div>
<script>
function selectShare(share) {
    $('.map_infowindow .share-type').hide();
    $('.map_infowindow #'+share).show();
    $('.map_infowindow #'+share+' :input[type!="hidden"]')[0].focus();
    $('.map_infowindow .share-selector a').removeClass('active');
    $('.map_infowindow #'+share+'-icon').addClass('active');
}
function showShare() {
    $('.map_infowindow .share-details').show();
    $('.map_infowindow #share-starter').hide();
    var first = $('.map_infowindow .share-type:first').attr('id');
    selectShare(first);
}
function hideShare() {
    $('.map_infowindow .share-type, .share-details').hide();
    $('.map_infowindow #share-starter').show();
}
showShare();
//$('.map_infowindow #share-starter').live('focus', showShare);
</script>
