<div class="share">
      <%= text_field_tag 'share-starter', '', :placeholder => "提点建议或者问题" %>
      <ul class="share-details share-selector" style="display:none;">
          <li><%= link_to_function "我要建议", "selectShare('share-addvise')", :class => 'comment2-icon', :id => 'share-addvise-icon' %></li>
          <li><%= link_to_function "我要提问", "selectShare('share-question')", :class => 'picture-icon', :id => 'share-question-icon' %></li>
        <li class="cancel-link"><%= link_to_function '', 'hideShare()', :class =>  'delete-icon' %></li>
      </ul>
  
        <%= form_for @place_share=PlaceShare.new, :url => { :action => "add_share" },:html => {:id => 'share-addvise', :class => 'share-type'},:remote=>true do |form| %>
          <%= hidden_field_tag :album, @place.place_name %>
          <%= hidden_field_tag :type, 'addvise' %>
          <span class="small"><%= t('share.note_label') %></span><br/>
          <%= form.text_area :text, :rows => 2 , :placeholder => "对于去"+@place.place_name+"的游客,您有什么建议"%><br/>
          <%= file_field_tag 'pictures[]', :multiple => false %><br/>
          <%= submit_tag t('share.share') %>
        <% end %>
        
          <%= form_for @place_share=PlaceShare.new, :url => {:action=>"add_share"},:html => {:id => 'share-question', :class => 'share-type'},:remote=>true do |form| %>
          <%= hidden_field_tag :album, @place.place_name %>
          <%= hidden_field_tag :type, 'question' %>
          <span class="small"><%= t('share.note_label') %></span><br/>
          <%= form.text_area :text, :rows => 2, :placeholder => "对于"+@place.place_name+",您有什么问题？"%><br/>
          <%= file_field_tag 'pictures[]', :multiple => false %><br/>
          <%= submit_tag t('share.share') %>
        <% end %>

     
</div>
<%= javascript_include_tag "extend/ui" %>

  <div class="stream-items">
    <%= render :partial => 'streams/stream_items' %>
  </div>


