<%content_for :head do%>
  <%= javascript_include_tag "http://api.map.baidu.com/api?v=1.2" %>
  <%= javascript_include_tag "http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js" %>
<%end%>


<% if content = render_page_content('system/sign_up_header') %>
  <%= content %>
<% end %>

<% if Setting.get(:features, :sign_up) %>
  <h2><%= t('accounts.create') %></h2>
  <%= form_for @person, :url => account_path, :method => 'post' do |form| %>
    <%= error_messages_for(form) %>
    <p>
      <%= form.label :email, t('people.email') %>             <%= form.text_field :email %><br/>
      <%= form.label :first_name, t('accounts.first_name') %> <%= form.text_field :first_name %><br/>

      <%= form.label :gender, t('accounts.gender') %>         <%= form.select :gender, [[t('search.male'), 'Male'], [t('search.female'), 'Female']] %><br/>
      <%= form.label :birthday, t('accounts.birthday') %>     <%= form.date_field :birthday %><br/>
      <%= form.label :email, t('people.address') %>             <%= form.text_field :postition,:id=>'postition' ,:placeholder =>"输入您所在城市或区县"%><br/>

     <div class="map_popup" id="cityList" style="display:none;">
      <div class="popup_main">
        <div class="title">城市列表</div>
        <div class="cityList" id="citylist_container"></div>
        <button id="popup_close"></button>
      </div>
    </div>


    <%= form.submit t('accounts.create') %>

    </p>
  <% end %>
<% elsif !content %>
  <p><%= t('accounts.this_site_doesnt_allow_signup', :office_phone => Setting.get(:contact, :community_office_phone)) %></p>
<% end %>

<h2><%= t('accounts.verify') %></h2>

<%= render :partial => 'how_to_verify' %>

<style type="text/css" media="screen">
  #dummy_phone { display: none; }
</style>

<script type="text/javascript">
  $('#person_birthday').datepicker({changeYear:true, yearRange:'1900:2025', dateFormat:'<%= datepicker_format %>'});

  
// 创建CityList对象，并放在citylist_container节点内
var myCl = new BMapLib.CityList({container : "citylist_container"});

  $("postition").blur(function(){
    var cl = document.getElementById("cityList");
	if (cl.style.display == "none") {
		cl.style.display = "";
	} else {
		cl.style.display = "none";
	}
  })
// 给城市点击时，添加相关操作
myCl.addEventListener("cityclick", function(e) {
	// 修改当前城市显示
	document.getElementById("postition").value = e.name;

	// 点击后隐藏城市列表
	document.getElementById("cityList").style.display = "none";
});

// 给“更换城市”链接添加点击操作
document.getElementById("postition").onclick = function() {
	var cl = document.getElementById("cityList");
	if (cl.style.display == "none") {
		cl.style.display = "";
	} else {
		cl.style.display = "none";
	}	
};

// 给城市列表上的关闭按钮添加点击操作
document.getElementById("popup_close").onclick = function() {
	var cl = document.getElementById("cityList");
	if (cl.style.display == "none") {
		cl.style.display = "";
	} else {
		cl.style.display = "none";
	}	
};



</script>
